# Week 4 Homework Part 1 - Kendall Gilbert

## Exercise 3.3

In this Exercise, we will explore our temperature data by comparing spring temperatures between Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Notice that in this exercise, we will use data saved from the previous Exercise (2.2.6), hence you should finish that Exercise before this one. An overview of the tasks in this exercise:

- Calculate the median temperatures for Kumpula and Rovaniemi for the summer of 2017
- Select temperatures for May and June 2017 in separate DataFrames for each location
- Calculate descriptive statistics for each month (May, June) and location (Kumpula, Rovaniemi)

### Problem 1 - Read the data and calculate basic statistics

Read in the CSV files generated in Exercise 2.2.6 to the variables `kumpula` and `rovaniemi` and answer to following questions:

- What was the median Celsius temperature during the observed period in Helsinki Kumpula? Store the answer in a variable `kumpula_median`.
- What was the median Celsius temperature during the observed period in Rovaniemi? Store the answer in a variable `rovaniemi_median`.

In [2]:
import pandas as pd

#Reads in csv files from previous exercise
kumpula = pd.read_csv("Kumpula_temps_May_Aug_2017.csv")
rovaniemi = pd.read_csv("Rovaniemi_temps_May_Aug_2017.csv")

#Calculates and stores median Celsius temperatures from each csv
kumpula_median = kumpula["Celsius"].median()
rovaniemi_median = rovaniemi["Celsius"].median()

print('The median temperature during the observed period in Helsinki Kumpula was', kumpula_median,'.\nThe median temperature during the observed period in Rovaniemi was',rovaniemi_median,'.')

The median temperature during the observed period in Helsinki Kumpula was 47.0 .
The median temperature during the observed period in Rovaniemi was 36.0 .

### Problem 2 - Select data and compare temperatures between months

The median temperatures above consider data from the entire summer (May-Aug), hence the differences might not be so clear. Let's now find out the mean temperatures from May and June 2017 in Kumpula and Rovaniemi:

- From the `kumpula` and `rovaniemi` DataFrames, select the rows where values of the `YR--MODAHRMN` column are from May 2017. Assign these selected rows into the variables `kumpula_may` and `rovaniemi_may` 
- Repeat the procedure for the month of June and assign those values into variables to `kumpula_june` and `rovaniemi_june`
- Calculate and print the mean, min and max Celsius temperatures for both places in May and June using the new subset dataframes (kumpula_may, rovaniemi_may, kumpula_june, and rovaniemi_june). Answer to following questions:
    - Does there seem to be a large difference in temperatures between the months?
    - Is Rovaniemi a much colder place than Kumpula?

In [3]:
#Creates new column of month in each dataframe
kumpula["Month"] = kumpula["YR--MODAHRMN"].astype(str).str.slice(start=4,stop=6)
rovaniemi["Month"] = rovaniemi["YR--MODAHRMN"].astype(str).str.slice(start=4,stop=6)

#Creates 2 new dataframes of the values from from May for each dataframe
kumpula_may = kumpula.loc[(kumpula["Month"] == "05")]
rovaniemi_may = rovaniemi.loc[(rovaniemi["Month"] == "05")]

#Creates 2 new dataframes of the values from from June for each dataframe
kumpula_june = kumpula.loc[(kumpula["Month"] == "06")]
rovaniemi_june = rovaniemi.loc[(rovaniemi["Month"] == "06")]

#Creates a dataframe of desired statistics for kumpula and prints it
info_kumpula = {'Mean Celsius Temp':[kumpula_may['Celsius'].mean(),kumpula_june['Celsius'].mean()],'Min Celsius Temp':[kumpula_may['Celsius'].min(),kumpula_june['Celsius'].min()], 'Max Celsius Temp':[kumpula_may['Celsius'].max(),kumpula_june['Celsius'].max()]}
table_kumpula = pd.DataFrame(data=info_kumpula)
table_kumpula = table_kumpula.set_index(pd.Index(['May','June']))
table_kumpula = table_kumpula.style.set_caption('Kumpula Temperature Data')
display(table_kumpula)

print('\n')

#Creates a dataframe of desired statistics for rovaniemi and prints it
info_rovaniemi = {'Mean Celsius Temp':[rovaniemi_may['Celsius'].mean(),rovaniemi_june['Celsius'].mean()],'Min Celsius Temp':[rovaniemi_may['Celsius'].min(),rovaniemi_june['Celsius'].min()], 'Max Celsius Temp':[rovaniemi_may['Celsius'].max(),rovaniemi_june['Celsius'].max()]}
table_rovaniemi = pd.DataFrame(data=info_rovaniemi)
table_rovaniemi = table_rovaniemi.set_index(pd.Index(['May','June']))
table_rovaniemi = table_rovaniemi.style.set_caption('Rovaniemi Temperature Data')
display(table_rovaniemi)

### Answers to Questions

There does not seem to be a big  difference in temperature from May to June at Kumpula, but it seems like there is a big difference at Rovaniemi.

Yes Rovaniemi is much cooler than Kumpula.

### Problem 3 - Parse daily temperatures by aggregating data 

In this problem, the aim is to aggregate the hourly temperature data for Kumpula and Rovaniemi weather stations to a daily level. Currently, there are at most three measurements per hour in the data, as you can see from the YR--MODAHRMN column:

```
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1
```

In this problem you should:

- Summarize the information for each day by aggregating (grouping) the DataFrame using the `groupby()` function.

In [13]:
#Creates a column for each day in kumpula and rovaniemi dataframes
kumpula["YR--MODA"] = kumpula["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)
rovaniemi["YR--MODA"] = rovaniemi["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)

#groups the dataframes for kumpula and rovaniemi for each day
grouped_kumpula = kumpula.groupby("YR--MODA")
grouped_rovaniemi = rovaniemi.groupby("YR--MODA")

- The output should be a new DataFrame where you have calculated mean, max and min Celsius temperatures for each day separately based on hourly values.

In [14]:
#Initializes empty lists for data
mean_value_series = []
min_value_series = []
max_value_series = []
time_series = []

#Loop that goes through each day in dataframe, calculates desired statistics, and appends to each series
for key, group in grouped_kumpula:
    mean_value = group['Celsius'].mean() 
    mean_value_series.append(mean_value)
    min_value = group['Celsius'].min()
    min_value_series.append(min_value)
    max_value = group['Celsius'].max()
    max_value_series.append(max_value)
    time_series.append(key)

#Creates and displays new dataframe with mean, max, and min temperatures for each day in dataframe
info = {'YR--MODA':time_series,'Mean Celsius':mean_value_series,'Min Celsius':min_value_series, 'Max Celsius':max_value_series}
table_grouped_kumpula = pd.DataFrame(data=info)
table_grouped_kumpula = table_grouped_kumpula.style.set_caption('Grouped Kumpula Temperature Data')
display(table_grouped_kumpula)

In [15]:
#Initializes empty lists for data
mean_value_series = []
min_value_series = []
max_value_series = []
time_series = []

#Loop that goes through each day in dataframe, calculates desired statistics, and appends to each series
for key, group in grouped_rovaniemi:
    mean_value = group['Celsius'].mean() 
    mean_value_series.append(mean_value)
    min_value = group['Celsius'].min()
    min_value_series.append(min_value)
    max_value = group['Celsius'].max()
    max_value_series.append(max_value)
    time_series.append(key)
    
#Creates and displays new dataframe with mean, max, and min temperatures for each day in dataframe
info = {'YR--MODA':time_series,'Mean Celsius':mean_value_series,'Min Celsius':min_value_series, 'Max Celsius':max_value_series}
table_grouped_rovaniemi = pd.DataFrame(data=info)
table_grouped_rovaniemi = table_grouped_rovaniemi.style.set_caption('Grouped Rovaniemi Temperature Data')
display(table_grouped_rovaniemi)

- Repeat the task for the two data sets you created in Problem 2 (May-August temperatures from Rovaniemi and Kumpula).

In [17]:
#Creates a column for each day in kumpula (may and june) and rovaniemi (may and june) dataframes
kumpula_may["YR--MODA"] = kumpula_may["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)
rovaniemi_may["YR--MODA"] = rovaniemi_may["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)
kumpula_june["YR--MODA"] = kumpula_june["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)
rovaniemi_june["YR--MODA"] = rovaniemi_june["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)

#groups the dataframes for kumpula and rovaniemi for each day
grouped_kumpula_may = kumpula_may.groupby("YR--MODA")
grouped_rovaniemi_may = rovaniemi_may.groupby("YR--MODA")
grouped_kumpula_june = kumpula_june.groupby("YR--MODA")
grouped_rovaniemi_june = rovaniemi_june.groupby("YR--MODA")

#Initializes empty lists for data
mean_value_series = []
min_value_series = []
max_value_series = []
time_series = []

#Loop that goes through each day in dataframe, calculates desired statistics, and appends to each series
for key, group in grouped_kumpula_may:
    mean_value = group['Celsius'].mean() 
    mean_value_series.append(mean_value)
    min_value = group['Celsius'].min()
    min_value_series.append(min_value)
    max_value = group['Celsius'].max()
    max_value_series.append(max_value)
    time_series.append(key)

#Creates and displays new dataframe with mean, max, and min temperatures for each day in dataframe
info = {'YR--MODA':time_series,'Mean Celsius':mean_value_series,'Min Celsius':min_value_series, 'Max Celsius':max_value_series}
table_grouped_kumpula_may = pd.DataFrame(data=info)
table_grouped_kumpula_may = table_grouped_kumpula_may.style.set_caption('Grouped Kumpula May Temperature Data')
display(table_grouped_kumpula_may)
print('\n')

#Initializes empty lists for data
mean_value_series = []
min_value_series = []
max_value_series = []
time_series = []

#Loop that goes through each day in dataframe, calculates desired statistics, and appends to each series
for key, group in grouped_kumpula_june:
    mean_value = group['Celsius'].mean() 
    mean_value_series.append(mean_value)
    min_value = group['Celsius'].min()
    min_value_series.append(min_value)
    max_value = group['Celsius'].max()
    max_value_series.append(max_value)
    time_series.append(key)

#Creates and displays new dataframe with mean, max, and min temperatures for each day in dataframe
info = {'YR--MODA':time_series,'Mean Celsius':mean_value_series,'Min Celsius':min_value_series, 'Max Celsius':max_value_series}
table_grouped_kumpula_june = pd.DataFrame(data=info)
table_grouped_kumpula_june = table_grouped_kumpula_june.style.set_caption('Grouped Kumpula June Temperature Data')
display(table_grouped_kumpula_june)
print('\n')

#Initializes empty lists for data
mean_value_series = []
min_value_series = []
max_value_series = []
time_series = []

#Loop that goes through each day in dataframe, calculates desired statistics, and appends to each series
for key, group in grouped_rovaniemi_may:
    mean_value = group['Celsius'].mean() 
    mean_value_series.append(mean_value)
    min_value = group['Celsius'].min()
    min_value_series.append(min_value)
    max_value = group['Celsius'].max()
    max_value_series.append(max_value)
    time_series.append(key)

#Creates and displays new dataframe with mean, max, and min temperatures for each day in dataframe
info = {'YR--MODA':time_series,'Mean Celsius':mean_value_series,'Min Celsius':min_value_series, 'Max Celsius':max_value_series}
table_grouped_rovaniemi_may = pd.DataFrame(data=info)
table_grouped_rovaniemi_may = table_grouped_rovaniemi_may.style.set_caption('Grouped Rovaniemi May Temperature Data')
display(table_grouped_rovaniemi_may)
print('\n')

#Initializes empty lists for data
mean_value_series = []
min_value_series = []
max_value_series = []
time_series = []

#Loop that goes through each day in dataframe, calculates desired statistics, and appends to each series
for key, group in grouped_rovaniemi_june:
    mean_value = group['Celsius'].mean() 
    mean_value_series.append(mean_value)
    min_value = group['Celsius'].min()
    min_value_series.append(min_value)
    max_value = group['Celsius'].max()
    max_value_series.append(max_value)
    time_series.append(key)

#Creates and displays new dataframe with mean, max, and min temperatures for each day in dataframe
info = {'YR--MODA':time_series,'Mean Celsius':mean_value_series,'Min Celsius':min_value_series, 'Max Celsius':max_value_series}
table_grouped_rovaniemi_june = pd.DataFrame(data=info)
table_grouped_rovaniemi_june = table_grouped_rovaniemi_june.style.set_caption('Grouped Rovaniemi June Temperature Data')
display(table_grouped_rovaniemi_june)

/tmp/ipykernel_213435/1006915770.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kumpula_may["YR--MODA"] = kumpula_may["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)
/tmp/ipykernel_213435/1006915770.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rovaniemi_may["YR--MODA"] = rovaniemi_may["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)
/tmp/ipykernel_213435/1006915770.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kumpula_june["YR--MODA"] = kumpula_june["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)
/tmp/ipykernel_213435/1006915770.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rovaniemi_june["YR--MODA"] = rovaniemi_june["YR--MODAHRMN"].astype(str).str.slice(start=0,stop=8)